<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Report</title>
</head>
<body>
    <h1>Make new report here</h1>
    <form action="{{ url_for('reports.makeReport') }}" method="post">
        <input type="text" name="title" placeholder="title">
        <div>
            <select name="themes" class="custom-select mb-3">
                <option selected>Select from themes</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Grocery Store">Grocery store</option>
            </select>
        </div>
        <div>
            <textarea name="summary" id="summary" cols="30" rows="10"></textarea>
        </div>
        <div>
            <select name="report_tags" class="custom-select mb-3" multiple="multiple">
                <option value="Mask">Mask</option>
                <option value="Hand_Sanitizer">Hand_Sanitizer</option>
                <option value="Distancing">Distancing</option>
                <option value="Crowded">Crowded</option>
                <option value="Clean">Clean</option>
                <option value="Dirty">Dirty</option>
                <option value="Curbside">Curbside</option>
                <option value="Safe">Safe</option>
                <option value="Unsafe">Unsafe</option>
            </select>
        </div>
        <div>
            <button type="submit">Done</button>
        </div>
    </form>
</body>
</html>